* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-principal: #FFC800;     
    --cor-hover: #D9A600;          
    --cor-texto: #0A1A33;          
    --cor-fundo: #ffffff;          
    --cor-fundo-secao: #fdf8e6;    
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 80px;
    background-color: #0C3C63;
    gap: 50px;
}

body {
    
    padding: 0;
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

#logo {
    height: 90px;
}

.menu-principal {
    margin-top: -10px;
}

.menu-principal ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 25px;
}

.menu-principal li {
    padding: 10px;
}

.menu-principal a {
    text-decoration: none;
    color: var(--cor-principal);
    font-weight: 400;
    font-family: "Titan One";
    font-style: normal;
    letter-spacing: 1;
}

.menu-principal a:hover {
    color: #003A99; 
}

.botao {
    background-color: var(--cor-principal);
    text-decoration: none;
    color: #0A1A33;
    font-weight: bold;
    padding: 10px;
}

.botao:hover {
    background-color: var(--cor-hover);
}

.imagemindex {
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    background-position: center;


}
.imagemindex2 {
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    background-position: center;

}
.imagemindex3 {
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    background-position: center;

}
.blocointeiro {
    display: flex;
    justify-content: center;
    height: 300px;
}
.imagemindex, .imagemindex2, .imagemindex3 {
    width: 100%;     
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5); 
    color: white;
    background-size: center;
    background-position: center;
    gap: 15px;
}
.secao, .secao2 {
    text-align: center;
    font-size: 20px;
    padding: 40px 80px;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
}

.secao h2, .secao2 h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-principal);
    font-family: 'Titan One';
}

footer {
    background-color: var(--cor-fundo-secao);
    text-align: center;
    padding: 20px 0;
    color: #2C3440;
    font-size: 14px;
    border-top: 1px solid #D9D9D9;
}

.secao3 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 100px;
}

.divsecao h3 {
    text-align: center;
    padding: 20px;
}

.texto_secaoimg {
    text-align: center;
    gap: 20px;
}

.imgsecao {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    margin: 0 auto;
    gap: 20px;
}

.imgsecao img {
    width: 100%;
    height: 100%;
}

.bannertopo {
    height: 400px;
    width: 100%;
    padding: 0; 
}

.bannertopo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: 50%;
    background-color: #54a9e0;
}

.bannertopo2 {
    height: 400px;
    width: 100%;
    padding: 0;
}

.bannertopo2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50%;
}

.principalbazar {
    display: grid;
    grid-template-columns: 2fr 100px 1fr;
    padding: 20px;
}

.textobazar h1 {
    text-align: center;
}

.secaobazar {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.banneradocao {
    height: 400px;
    width: 100%;
    padding: 0;
    
    
}

.banneradocao img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50%;
    
}
.textoadocao {
    text-align: center;
    padding: 50px;
}
.cachorroadocao {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    max-width: 900px; 
    margin: 0 auto; 
    padding: 40px 20px;
}
.cartaoadocao {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.imgadocao {
    width: 100%; 
    height: 200px;  
}

.texto-adocao {
    margin-bottom: 15px;
}
.botao2 {
    display: flex;
    justify-content: center;
    background-color: var(--cor-principal);
    text-decoration: none;
    color: #0A1A33;
    font-weight: bold;
    padding: 5px;
}
.botao2:hover {
    background-color: var(--cor-hover);
}

.bannerajude {
    height: 400px;
    width: 100%;
    padding: 0;
    
    
}
.bannerajude img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50%;
    
}
.secaoajude {
    display: flex;
    height: 300px;
}
.bloco {
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.doacao {
    background-image: url('../img/banner2.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5)

}
.pix {
    background-image: url('../img/banner2.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5)
}

.carrossel-wrapper {
    width: 100%; 
    height: 400px; 
    padding: 0;
    margin: 0; 
}


.carrossel {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
    width: 100%;
    height: 400px;
    padding: 0;
}


.container {
    display: flex;
    transition: transform 0.5s ease-in-out; 
    transform: translate(0);
}


.container img {
    object-fit: contain; 
    flex-shrink: 0;
    width: 100%; 
    height: 400px; 
    background-color: #54a9e0; 
}

main {
    padding: 0;
    margin: 0;
    width: 100%;
}