* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-principal: #FFC800;     
    --cor-hover: #D9A600;          
    --cor-texto: #0A1A33;          
    --cor-fundo: #ffffff;          
    --cor-fundo-secao: #ffffff;    
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 80px;
    background-color: white;
    gap: 50px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

#logo {
    height: 90px;
}

.menu-principal {
    margin-top: -10px;
}

.menu-principal ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 25px;
}

.menu-principal li {
    padding: 10px;
}

.menu-principal a {
    text-decoration: none;
    color: var(--cor-texto);
    font-weight: bold;
}

.menu-principal a:hover {
    color: #003A99; /* Azul profundo */
}

.botao {
    background-color: var(--cor-principal);
    text-decoration: none;
    color: #0A1A33;
    font-weight: bold;
}

.botao:hover {
    background-color: var(--cor-hover);
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
    background-color: var(--cor-fundo-secao);
}

.principal img {
    align-items: center;
}

.principal .botao {
    display: inline-block;
    padding: 20px;
}

.blocointeiro {
    display: flex;
    justify-content: center;
}

.bloco {
    padding: 100px;
}

.bloco, .botao {
    display: inline-block;
    padding: 10px;
}

.secao, .secao2 {
    text-align: center;
    font-size: 20px;
    padding: 40px 80px;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
}

.secao h2, .secao2 h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-principal);
}

footer {
    background-color: var(--cor-fundo-secao);
    text-align: center;
    padding: 20px 0;
    color: #2C3440;
    font-size: 14px;
    border-top: 1px solid #D9D9D9;
}

.secao3 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 100px;
}

.divsecao h3 {
    text-align: center;
    padding: 20px;
}

.texto_secaoimg {
    text-align: center;
    gap: 20px;
}

.imgsecao {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    margin: 0 auto;
    gap: 20px;
}

.imgsecao img {
    width: 100%;
    height: 100%;
}

.bannertopo {
    height: 400px;
    width: 100%;
    padding: 0;
}

.bannertopo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: 50%;
}

.bannertopo2 {
    height: 400px;
    width: 100%;
    padding: 0;
}

.bannertopo2 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: 50%;
}

.principalbazar {
    display: grid;
    grid-template-columns: 2fr 100px 1fr;
    padding: 20px;
}

.textobazar h1 {
    text-align: center;
}

.secaobazar {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.banneradocao {
    height: 400px;
    width: 100%;
    padding: 0;
    
    
}

.banneradocao img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50%;
    
}
.textoadocao {
    text-align: center;
    padding: 50px;
}
.cachorroadocao {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    max-width: 900px; 
    margin: 0 auto; 
    padding: 40px 20px;
}
.cartaoadocao {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.imgadocao {
    width: 100%; 
    height: 200px;  
}

.texto-adocao {
    margin-bottom: 15px;
}
.botao2 {
    display: flex;
    justify-content: center;
    background-color: var(--cor-principal);
    text-decoration: none;
    color: #0A1A33;
    font-weight: bold;
    padding: 5px;
}
.botao2:hover {
    background-color: var(--cor-hover);
}
