* {
    padding: 0;
    margin: 0;

}
:root {
    --cor-principal: #F59E0B;
    --cor-hover: #EA580C;
    --cor-texto: #1F2937;
    --cor-fundo: #F9FAFB;
    --cor-fundo-secao: #FFF8F0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 80px;
    background-color: white;
    gap: 50px;
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
#logo {
    height: 90px;
}
.menu-principal {
    margin-top: -10px;
}
.menu-principal ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 25px;
}

.menu-principal li {
    padding: 10px;
}
.menu-principal a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    color: var(--cor-texto);
    
}
.menu-principal a:hover {
    color:orange;
}

.botao {
    background-color: var(--cor-principal);
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.botao:hover {
   background-color: var(--cor-hover);
}
.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
    background-color: #FFF8F0;
    
}

.principal img {
    align-items: center;
    
}
.principal .botao {
    display: inline-block;
    padding: 20px;
}
.blocointeiro {
    display: flex;
    justify-content: center; 
}

.bloco {
    padding: 100px;
}
.bloco , .botao {
    display: inline-block;
    padding: 10px;
}
.secao, .secao2 {
   text-align: center;
   font-size: 20px;
   padding: 40px 80px;
   color: var(--cor-texto);
   background-color: var(--cor-fundo);
}
.secao h2, .secao2 h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-principal);
    

}
footer {
    background-color: var(--cor-fundo-secao);
    text-align: center;
    padding: 20px 0;
    color: #4B5563;
    font-size: 14px;
    border-top: 1px solid #E5E7EB;
} 